# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Database
# *.db  # Permitir instance/app.db para datos de demo
*.sqlite

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
